@import '../../configs/style.config.scss';

.filterOptionItem:hover>span:before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px $color-pink solid;
    padding: 17px 0;
    z-index: 1;
};