{
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/preset-react",
            {
                "pragma": "dom",
                "pragmaFrag": "DomFrag",
                "throwIfNamespace": false,
                "runtime": "classic"
            }
        ],
        [
            "@babel/preset-env",
            {
                "targets": "> 0.25%, not dead"
            }
        ]

    ],
    "plugins": [
        "@babel/plugin-transform-typescript",
        [
            "babel-plugin-styled-components", {
                "minify": false,
                "fileName": false,
                "transpileTemplateLiterals": false,
                "pure": true
            }
        ]
    ]
}